body {
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
    float: right;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

/*left margin*/
.marginAdd {
    position: absolute;
    left: -50px;
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

/*titles*/
#main-title {
  font-style: oblique;
  font-size: 80px;
  color: #6B8E23;
  text-shadow: 2px 2px 4px gray;
  text-decoration: underline;
  text-align:center;
}
#sub-title {
  color: #6B8E23;
  text-shadow: 2px 2px 4px gray;
}


/*underline*/
.underlined {
    text-decoration: underline;
}

/*double-underline*/
.double-underline {
  text-decoration-line: underline;
  text-decoration-style: double;
}

/*greyink: might be useful when one text without deletions in red*/
.greyink {
  color:gray;
}

/*sublinear*/
.sublinear {
  vertical-align: sub;
}

/*circle*/
.circled {
    text-align: right;
    vertical-align: right;
    border: 1px solid black;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em; 
    font-size: 1em;
    color: black;
    background-color: white;
}

/*supralinear*/
.supraAdd {
    vertical-align: super;
}

/*overwritten in grey*/
.overwritten {
  color: grey;
  font-weight: bold;
  text-decoration: line-through;
  vertical-align: baseline ;
}

/*crossedout text in red*/
.crossedout {
  color: red;
  text-decoration: line-through;
  vertical-align: super;
}


/*index*/
#titlepagecontainer {
  width: 100%;
  margin: 0 auto;
}
#titlepagerow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#titlepagetext {
  flex: 1; /* Text takes up equal space */
  margin-right: 10px; /* Space between text and image */
}
#titlepageimage {
  flex: 1; /* Image takes up equal space */
  text-align: center; /* Center the image */
}
#titlepageimage img {
  max-width: 100%; /* Ensure images scale within their container */
  height: auto;
}

/*indented paragraph*/
.quote {
  padding-left: 50px;
}

/*L-border for addition*/
.addition {
  border-style: none none solid solid;
}