body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
    float: right;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.underlined {
    text-decoration: underline;
}

.overwritten {
    position: relative; 
    top: 0;
    left: 0;
    display: run-in;
}

.circled {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em; 
    font-size: 1em;
    color: black;
    background-color: white;
}

.supraAdd {
    vertical-align: super;
}